*{

    font-family: sans-serif;
}
.navbar { 
    background-color: aqua;
}
.nav-item .nav-link{
    color: black;
    font-weight: bold;
}
#home{
    background-image: url(https://organicabiotech.com/wp-content/uploads/2021/10/organic-farming-min.jpg);
    width: 100vw;
    height:70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.homeheading{

    color:black;
    font-size: 50px;

}
.d-block{
    aspect-ratio: 3/1.5;
}
.aboutcontent h3{
    color:green;
}
.input-group .input-group-text{
    background-color: aqua;
    color: green;
    font-weight: bold;
    border: none;
}
#footer{
    background-color:green;
    color: azure;
}
#footer h4{
    color: ;
}
#footer p{
    color: black;
}
.d i{
    padding-right: 30px;
}

